/* 1. Seleccionamos sleector de etiquetas: 
 de taq (a todo el contenido del boy le dare este estilo*/
header{
    background-color: white ;
}

.nav-link{
    background-color:#002849 !important;
    color: white;
}
.nav.nav.p-2{
    background-color: #002849;
}
.nav-link:hover{
    color:hsl(172, 100%, 79%);
}


h2{
    font-size: 25px;
    margin-top: 5px;
    margin-right: 100px;
    margin-bottom: 12px;
    margin-left: 15px;
    font-display: 10px;
    overflow: hidden; /* Evita que el h2 se extienda más allá de la imagen */

    
    
}

/* 2. Seleccion por clase*/ 

.tituliAmarillo{
    color: yellow;
}

/*aca pongo el nombre de la etiqueta y el estilo. Se puede reutilizar la clase, en un parrafo por ej */
.fiatAmarillo{
    color: pink;
}

#manoindex img {
    display: flex;
}

#manoindex img {
    width: 55%;
    margin-bottom: 12px;
    margin-left: 800px;
}

#manoindex article {
    flex: 1;
    margin-left: 20px;
}
