/* 1. Seleccionamos sleector de etiquetas: 
 de taq (a todo el contenido del boy le dare ste estilo*/

body{
    font-family:'Courier New', Courier, monospace, sans-serif
}

h2{
    color: rgb(26, 204, 26);
}

main{
    background-color: green;
}
/* 2. Seleccion por clase*/ 

.tituliAmarillo{
    color: yellow;
}
.tipografiaNueva{


}